.main {
    font-size: 12px;
}

.main .wrapper-list .link-list {
    padding-left: 0;
}
.main .wrapper-list .link-list li {
    border-top: 1px solid gray;
    list-style: none;
}
.main .wrapper-list .link-list li:last-child {
    border-bottom: 1px solid gray;
    list-style: none;
}
.main .wrapper-list .link-list li a {
    display: block;
    text-decoration: none;
}