<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <title>テスト</title>
    <link rel="stylesheet" href="./css/test.css" />
  </head>
  <body>
    <div class="main">
      <p>これはテストです</p>
      <input type="text" placeholder="これはテストです。" />
      <div class="wrapper-list">
        <ul class="link-list">
          <li>
            <a href="./shohinA.html" target="_blank"><span>商品A</span></a>
          </li>
          <li>
            <a href="./shohinB.html" target="_blank"><span>商品B</span></a>
          </li>
          <li>
            <a href="./shohinC.html" target="_blank"><span>商品C</span></a>
          </li>
        </ul>
        <div class="text">
          <p>
          春はあけぼの。やうやう白くなりゆく山ぎは、すこしあかりて、紫だちたる
          雲のほそくたなびきたる。夏は夜。月のころはさらなり。やみもなほ、蛍の多く飛びちがひたる。また、
          ただ一つ二つなど、ほのかにうち光りて行くもをかし。雨など降るもをかし。秋は夕暮れ。夕日のさして山の端いと近うなりたるに、烏の寝どころへ行く
          とて、三つ四つ、二つ三つなど、飛びいそぐさへあはれなり。まいて雁などの
          つらねたるが、いと小さく見ゆるはいとをかし。日入りはてて、風の音、虫の
          音など、はたいふべきにあらず。
          </p>
          <button type="button" class="btn_detail">+続きを見る</button>
        </div>
      </div>
    </div>
  </body>
</html>
