<html>
<head>
  <meta charset="UTF-8">
  <title>テスト</title>
</head>
<body>
  <div class="main">
      <p>これはテストです</p>
      <input type="text" placeholder="これはテストです。" />
      <div class="wrapper-list">
        <ul class="link-list">
          <li><a href="/statics/shohinA.html" target="_blank"><span>商品A</span></a></li>
          <li><a href="/statics/shohinB.html" target="_blank"><span>商品B</span></a></li>
          <li><a href="/statics/shohinC.html" target="_blank"><span>商品C</span></a></li>
        </ul>
      </div>
  </div>
</body>
</html>
